# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*


# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release


# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache


# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
